
<div class="col-md-4 mt-5">
    <div class="card">  
        <div style="background-color:red;">
            <h3 style="color:white;">Contact Us</h3>
        </div>

        <%= image_tag "under_contruction.jpg"%>
    </div>
</div>