
<br/>
<div class="card text-center">
    <div class="card-header">
        Contact Us 
    </div>
    <div class="card-body">
        <h5 class="card-title">Monday to Friday</h5>
        <h5 class="card-title">9am to 5pm</h5>
        <p class="card-text">Ph: 1300 323 692 </p>
        <p class="card-text">Email: elcartel@elcartel.com</p>
    </div>
    <div class="card-footer text-muted">
        Horacinis ©
    </div>
</div>