
<header class="home-title">
    <h1>El CARtel</h1>
    <h2>Second hand cars</h2>
</header>

<main class="home-welcome-message">

    <%# <button type="button" class="btn btn-primary btn-lg">Show me all cars!</button> %>
    <%= button_to "Show me all cars!", cars_path, class:"btn btn-primary btn-lg", :method => "get" %>
</main>