
<header class="home-title">
    <h1>El CARtel</h1>
    <h2>Second hand cars</h2>
</header>

<main class="home-welcome-message">
    <h3>Show me all cars!</h3>
    <p>(This is my Home page)</p>
</main>