
<h1>Single Car Display</h1>

<div class="single-car-display">
    <p><strong>Make </strong><%=  @cars.make %></p>
    <p><strong>Model </strong><%=  @cars.model %></p>
    <p><strong>Year </strong><%=  @cars.year %></p>
    <p><strong>Kilometres </strong><%=  @cars.kilometres %></p>
</div>